.archive {
  display: flex;

  margin-left: 5vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  height: 100vh;

  .archive-project {
    padding: 15vh 5vw 0 0;
    display: grid;
    scroll-snap-align: start;
    &:hover {
      .info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }

    .cover,
    .archive-title,
    .info {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 85vw;
      height: 80vh;
    }

    .cover {
      filter: grayscale(1);
      z-index: -5;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title__archive {
      display: flex;
      justify-content: space-around;
    }
    .info {
      color: white;
      display: none;
    }
  }
  .hmw_ {
    .title__archive {
      color: #9b372c;
    }
  }
  .alba_ {
    .title__archive {
      color: #f5e8ad;
    }
    .archive-img {
      width: 45vw;
    }
  }
  .rayban_ {
    .title__archive {
      color: #ff0000;
    }
    .archive-img {
      height: 65vh;
      width: auto;
    }
  }
  .lx_ {
    .title__archive {
      color: white;
      span {
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.286);
        &:first-child,
        &:last-child {
          text-shadow: none;
        }
      }
    }
    .archive-img {
      width: 40vw;
    }
  }
  .jj_ {
    .title__archive {
      color: #fff000;
    }
    .archive-img {
      width: 40vw;
    }
  }
}

.scroll {
  display: flex;
  position: fixed;
  bottom: 1vh;
  left: 48vw;
  width: 85vw;

  p {
    color: white;
    font-family: $monospace;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0 1vw;
  }
  img {
    width: 2vw;
  }
}
