* {
  box-sizing: border-box;
  margin: 0;
}

$primary-color-accent: #c10202;
$color-neutral-darkest: #272727;

$monospace: 'Courier', Courier, monospace;
$title-font: 'Druk';

html {
  background-color: $color-neutral-darkest;
}

a {
  text-decoration: none;
}

.black {
  color: $color-neutral-darkest;
}

@font-face {
  font-family: 'Druk';
  src: url('./font/DrukCyrHeavy.woff') format('woff');
}

.typo--h2 {
  font-size: 20rem;
  color: white;
}

.typo--h3 {
  font-size: 15rem;
  font-family: $title-font;
}

.typo--h4 {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 3rem;
}

.typo--h5 {
  font-family: $title-font;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.typo--p {
}

.typo--description {
  font-family: $monospace;
  font-size: 1rem;
}

.typo--link {
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  font-size: 1.2rem;
  color: white;
}
