footer {
  @include flex-between-center;

  padding: 2vw 2vw 0 2vw;
  width: 96vw;

  img {
    max-width: 30px;
    min-width: 25px;

    margin: 0.5vw;
    margin-bottom: 1.5vw;
  }

  .footer-logo {
    max-width: 30px;
    min-width: 25px;

    margin: 0.5vw;
    margin-bottom: 1.5vw;
  }

  .mail {
    color: white;
    text-decoration: none;
    font-family: $monospace;

    &:hover {
      color: $primary-color-accent;
    }
  }

  .social {
    display: flex;
    a {
      img {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .black {
    color: $color-neutral-darkest;
  }
}
