nav {
  @include flex-between-center;

  width: 100vw;
  padding: 2vh 5vw 0 5vw;

  position: fixed;
  z-index: 2;

  .nav-logo {
    max-width: 40px;
    min-width: 25px;
  }

  .voice {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    font-family: $title-font;
    letter-spacing: 2px;
    font-size: 1.5rem;

    &:hover {
      color: $primary-color-accent;
    }
  }
}

.about-page {
  color: $color-neutral-darkest;
  text-decoration: underline;
}

nav .nav-voices .black {
  color: $color-neutral-darkest;
}
