* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #272727;
 }

 @font-face {
    font-family: "NeueMachina";
    src: url(font/PPNeueMachina-PlainRegular.woff) format('woff');
}

a {
    text-decoration: none;
}

 nav {
    display:flex;
    justify-content: space-between;

    margin: 0 1.5rem 0 1.5rem;

    position: fixed;
    width: 97vw;
 }

 summary::marker {
    color:transparent;
 }

 li::marker {
    color:transparent;
 }

 .menu ul li a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
 }

 .landing {
    height:100vh;
 }

 .logo {
    display:flex;

    width: 100vw;
    margin-top: 2rem;

    position: relative;
 }

.logo img {
    justify-content: center;
    align-items: center;
    
   
 }

 /* .description {
    position: absolute;

    top: 0;
 } */

.main {
    margin-bottom: 5rem;
}

 article {
     height: 97vh;
     width: 97vw;
     margin-bottom: 2.5rem;
    }

article .web {
    margin-bottom: 0;
}
    
 .category {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;    
 }
    
 .section-title {
        width: 30vw;
        align-content: center;
        z-index:1
 }

    h2 {
        font-family: NeueMachina;
        text-transform: uppercase;
        font-size: 7rem;

        color:#C10202;
        text-decoration: none;

        height:80vh;
        display:flex;
        align-items: center;
    }


 .cover {
    z-index: -1;
    max-width: 30vw;
 }

 .note {
    font-family: 'Reenie Beanie', cursive;
    color: white;
    text-decoration: none;
    font-size:1rem;
 }

 .explore {
    /* padding-bottom: 5rem; */
    margin-left: 1.5rem;
 }

 footer {
    display:flex;
    justify-content: space-between;
    margin: 0 1.5rem .5rem 1.5rem;
    width: 97vw;
 }

 .mail {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
 }

 .social img {
    color: white;
 }


 /* /////////////// PROJECT PAGE /////////////// */




  /* /////////////// SINGLE PROJECT /////////////// */
